In [1]:
import pandas as pd

from sklearn.utils import shuffle

import random

In [2]:
Paths = {
        'Data': './../../Data/',
        'Chia' : './../../Data/Chia_w_scope_data.csv',
        'Train': './../../Data/Text2SqlData/train.csv',
        'Validation': './../../Data/Text2SqlData/validation.csv',
        'Test': './../../Data/Text2SqlData/test.csv',
        'New_Train': './../../Data/PreparedText2SQL/train.csv',
        'New_Validation': './../../Data/PreparedText2SQL/validation.csv',
        'New_Test': './../../Data/PreparedText2SQL/test.csv',
    }

In [3]:
df_chia = pd.read_csv(Paths['Chia'])
df_chia = df_chia.drop(columns=['Unnamed: 0'])
df_chia

,File,Criteria,Text,Group_Entities,Relations,Tokens,Entities
0,NCT01497639_inc,inc,"['ages of 7 and 75 years\n', 'marked disabilit...","[('T1', 0, 4, 'Person', 'ages'), ('T2', 8, 22,...","[('R1', 'Has_value', 'T1 T2'), ('*', 'OR', 'T6...","[['ages', 'of', '7', 'and', '75', 'years'], ['...","([['Person', 'O', 'B-Value', 'I-Value', 'I-Val..."
1,NCT01497639_exc,exc,"['previous brain surgery;\n', 'cognitive impai...","[('T1', 0, 8, 'Temporal', 'previous'), ('T2', ...","[('R1', 'Has_temporal', 'T2 T1'), ('R2', 'Has_...","[['previous', 'brain', 'surgery'], ['cognitive...","([['Temporal', 'B-Procedure', 'I-Procedure'], ..."
2,NCT02609698_inc,inc,"['Patients aged 19 or older\n', 'Patients who ...","[('T1', 9, 13, 'Person', 'aged'), ('T2', 14, 2...","[('R1', 'Has_value', 'T1 T2')]","[['Patients', 'aged', '19', 'or', 'older'], ['...","([['O', 'Person', 'B-Value', 'I-Value', 'I-Val..."
3,NCT02609698_exc,exc,['Patients with any contraindications or hyper...,"[('T1', 18, 35, 'Condition', 'contraindication...","[('*', 'OR', 'T1 T2'), ('*', 'OR', 'T6 T7'), (...","[['Patients', 'with', 'any', 'contraindication...","([['O', 'O', 'O', 'Condition', 'O', 'Condition..."
4,NCT01228279_inc,inc,"['Adult (age 18 years and older)\n', 'Patients...","[('T1', 0, 5, 'Person', 'Adult'), ('T2', 7, 10...","[('R1', 'Has_value', 'T2 T3'), ('R4', 'Has_qua...","[['Adult', 'age', '18', 'years', 'and', 'older...","([['Person', 'Person', 'B-Value', 'I-Value', '..."
...,...,...,...,...,...,...,...
1945,NCT00894712_exc,exc,"['Visible skin pathology, excessive freckles, ...","[('T1', 8, 22, 'Condition', 'skin pathology'),...","[('R1', 'Has_qualifier', 'T2 T3'), ('*', 'OR',...","[['Visible', 'skin', 'pathology', 'excessive',...","([['O', 'B-Condition', 'I-Condition', 'Qualifi..."
1946,NCT02361892_inc,inc,"['submucosal,\n', 'intramural or subserosal le...","[('T1', 0, 10, 'Condition', 'submucosal'), ('T...",[],"[['submucosal'], ['intramural', 'or', 'subsero...","([['Condition'], ['B-Condition', 'O', 'B-Condi..."
1947,NCT02361892_exc,exc,"['endometrial hyperplasia with atypia,\n', 'es...","[('T1', 0, 23, 'Condition', 'endometrial hyper...",[],"[['endometrial', 'hyperplasia', 'with', 'atypi...","([['B-Condition', 'I-Condition', 'O', 'Conditi..."
1948,NCT02375295_inc,inc,"['Male or Female.\n', 'No age restriction.\n',...","[('T1', 0, 4, 'Person', 'Male'), ('T2', 8, 14,...","[('*', 'OR', 'T1 T2'), ('R1', 'Has_qualifier',...","[['Male', 'or', 'Female'], ['No', 'age', 'rest...","([['Person', 'O', 'Person'], ['O', 'O', 'O'], ..."
1949,NCT02375295_exc,exc,['Patients with medical comorbidities preventi...,"[('T1', 14, 35, 'Condition', 'medical comorbid...","[('R2', 'AND', 'T1 T2'), ('R4', 'AND', 'T6 T8'...","[['Patients', 'with', 'medical', 'comorbiditie...","([['O', 'O', 'B-Condition', 'I-Condition', 'O'..."

In [4]:
def eval_dataframe(df):

        df['Text'] = df['Text'].apply(eval)
        df['Group_Entities'] = df['Group_Entities'].apply(eval)
        df['Relations'] = df['Relations'].apply(eval)
        df['Tokens'] = df['Tokens'].apply(eval)
        df['Entities'] = df['Entities'].apply(eval)

        return df
    
df_chia= eval_dataframe(df_chia)
df_chia.dtypes

File              object
Criteria          object
Text              object
Group_Entities    object
Relations         object
Tokens            object
Entities          object
dtype: object

## Examples of Each Unique Entity

In [11]:
uniqueEntities = ['AGE',
 'CONDITION',
 'DRUG',
 'ETHNICITY',
 'GENDER',
 'RACE',
 'STATE',
 'TIMEDAYS',
 'TIMEYEARS']

In [8]:
df_train = pd.read_csv(Paths['New_Train'])
df_train = df_train.drop(columns=['Unnamed: 0'])
df_train

,Base_Question,Folded_Question,Query_Generated
0,Count of patients grouped by race.,How many patients are in each race group?,"SELECT race, COUNT(DISTINCT pe1.person_id) AS ..."
1,Count of patients grouped by race.,How many patients fit into each race group?,"SELECT race, COUNT(DISTINCT pe1.person_id) AS ..."
2,Count of patients grouped by race.,How many patients end up in each race group?,"SELECT race, COUNT(DISTINCT pe1.person_id) AS ..."
3,Count of patients grouped by race.,How many patients were in each race group?,"SELECT race, COUNT(DISTINCT pe1.person_id) AS ..."
4,Count of patients grouped by race.,How many patients fitted into each race group?,"SELECT race, COUNT(DISTINCT pe1.person_id) AS ..."
...,...,...,...
596956,counts of patients with taking drug <ARG-DRUG>...,tell me how many patients are taking <ARG-DRUG...,SELECT DATE_PART_YEAR(drug_exposure_start_date...
596957,counts of patients with taking drug <ARG-DRUG>...,tell me how many people are taking <ARG-DRUG><...,SELECT DATE_PART_YEAR(drug_exposure_start_date...
596958,counts of patients with taking drug <ARG-DRUG>...,tell me how many persons are taking <ARG-DRUG>...,SELECT DATE_PART_YEAR(drug_exposure_start_date...
596959,counts of patients with taking drug <ARG-DRUG>...,tell me how many individuals are taking <ARG-D...,SELECT DATE_PART_YEAR(drug_exposure_start_date...
596960,counts of patients with taking drug <ARG-DRUG>...,tell me how many subjects are taking <ARG-DRUG...,SELECT DATE_PART_YEAR(drug_exposure_start_date...

In [9]:
print(df_train.loc[596959]['Base_Question'])
print(df_train.loc[596959]['Folded_Question'])
print(df_train.loc[596959]['Query_Generated'])

counts of patients with taking drug <ARG-DRUG><0> grouped by year of prescription.
tell me how many individuals are taking <ARG-DRUG><0> grouped by year of prescription.
SELECT DATE_PART_YEAR(drug_exposure_start_date), COUNT( DISTINCT dr1.person_id) FROM (<SCHEMA>.drug_exposure dr1 JOIN <DRUG-TEMPLATE><ARG-DRUG><0> ON dr1.drug_concept_id=concept_id) GROUP BY DATE_PART_YEAR(drug_exposure_start_date);

In [12]:
differentExamples = {}
for i,f in df_train.iterrows():
    base_qst = f['Base_Question']
    for ent in uniqueEntities:
        if ent in differentExamples:
            pass
        else:
            if ('<ARG-'+ ent + '>') in base_qst:
                differentExamples[ent] = base_qst
                break
    if len(differentExamples.keys()) == len(uniqueEntities):
        break
differentExamples

{'DRUG': 'Counts of patients taking drug <ARG-DRUG><0> and <ARG-DRUG><1> within <ARG-TIMEDAYS><0> days.',
 'TIMEDAYS': 'Counts of patients taking drug <ARG-DRUG><0> and <ARG-DRUG><1> within <ARG-TIMEDAYS><0> days.',
 'CONDITION': 'Counts of patients with condition <ARG-CONDITION><0> and <ARG-CONDITION><1> within <ARG-TIMEDAYS><0> days.',
 'AGE': 'How many people have condition <ARG-CONDITION><0> at age <ARG-AGE><0>?',
 'RACE': 'How many people have condition <ARG-CONDITION><0> in the cohort of race <ARG-RACE><0>?',
 'STATE': 'How many people have condition <ARG-CONDITION><0> in the state <ARG-STATE><0>?',
 'TIMEYEARS': 'How many people have condition <ARG-CONDITION><0> in the year <ARG-TIMEYEARS><0>?',
 'ETHNICITY': 'How many people of ethnicity <ARG-ETHNICITY><0> have condition <ARG-CONDITION><0>?',
 'GENDER': 'Number of <ARG-GENDER><O> patients with <ARG-CONDITION><O>.'}

In [ ]:
# shuffled= shuffle(df_test)
# df_test = shuffled.reset_index(drop=True)
# df_test